<section class="main">
  <div class="content">
    
    <div class="list-users">
      <h3 class="title-user-list">Liste des utilisateurs</h3>
      <% @users.each do |user| %>
      <div>
        <div class="content-user-list">
            <i class="icon-user"></i><span class="name-user-list"><%= link_to user.first_name + " " + user.last_name, user, class: 'link' %></span>
            <span style="margin-left:2.5em;"><%= user.gender %></span>
            <span class="value-user-list"><%= user.contributions_counter %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
