.flex-container {
    margin:0;
    list-style: none;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: flex-start;

    -webkit-padding-start: 10px;
    padding-start: 10px;
    -moz-padding-start: 10px;
}

/*RESET*/
.flex-item, .flex-container{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.flex-item {
    background: #FFFFFF;
    padding: 5px;
    width: 100%;
    color: #111111;
    text-align: justify;
    border:solid #bdc3c7 1px;
    margin-bottom: 1em;
}



.img-cover{
    max-width: 100%;
    max-height: 100%;
}

.img-event{
    background-color: #585858;
    width: 40%;
    max-height: 100%;
    overflow: hidden;
    float: left;
}

.img-event > img{
    width: 100%;
    height: auto;
}

.content-event{
    width:60%;
    float: right;
    max-height: 100%;

}

.title-event,.date-event, .body-text-event{
    padding-left: 0.4em;
    margin: 0;
}

.title-event{
    font-size: 1.5em;
}

.date-event{
    font-size: 0.7em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.body-text-event {

}
.multiline-ellipsis {
    margin: 0;
    padding: 0em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    overflow: hidden;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: -o-ellipsis-lastline;
    margin-left: 0.5em;
}


.more-event{
    float: right;
    padding-top: 0.3em;
}

.more-event > button{
    background-color: orangered;
}