@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('http://fonts.googleapis.com/css?family=Roboto');

.map,
#map{
    margin:auto;
}

body, html {
    margin:0;
  padding-top:1.1em;
}

* {
    font-family: 'Roboto',sans-serif;
}

.link{
    text-decoration: none;

}

.link-btn{
    color: #FFFFFF;
}

.link-title{
    color: #111111;
}

section.main {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    padding: 5px;
    background-color: #DBD2D7;
}

.list-users{
    width:99%;
    background-color: #FFFFFF;
    padding:5px;
}

.content{
    width:100%;
}

.header-content-margin{
  margin:5px;
}

section.main .nav-bar ul {
    list-style: none;
}

section.main .left {
    order: 2;
    flex: 1;
    background-color: #DBD2D7;
    padding-bottom: 5px;
    color: #333;
}

header,
footer {
    background-color: #2c3e50;
    padding: 5px;
    color: white;
    padding-top:10px;
}

.header-content {
    padding-left: 2em;
    overflow:auto;
}

header{
    height: 5em;
}

footer {
    height: 150px;
}

section.main .left .search {
    background-color: #DBD2D7;
    padding: 5px;
    margin-left: 2px;
    margin-bottom: 10px;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    margin-right:0;
  padding-right:0;
}

.image-cover-div {
    min-height: 100px;
    max-height: 280px;
    max-width: 970px;
    margin: auto;
    background-color: #DBD2D7;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.image-cover-div .cover-overlay {
  position: absolute; 
  bottom: 20%; 
  left: 5%; 
  opacity: 0.8;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.img-cover {

}

header,
footer,
section.main,
section.show,
.image-cover {
    margin: auto;
    max-width: 960px;
}

section.show{
    padding: 5px;
    background-color: #DBD2D7;
}

.show-body{
    padding:1.2em;
    background: #FFFFFF;
    padding: 5px;
    color: #111111;
    border:solid #bdc3c7 1px;
}

.show-description{
    margin:2em;
}

.show-information {
    padding:0.8em;
}

h3.title-user-list{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.5em;
}

.content-user-list{
    margin: 0.7em;
}

.name-user-list{
    margin-left: 1em;
}

.value-user-list{
    margin-left: 1em;
    color:#FFFFFF;
    padding: 0.2em;
    background-color: #2c3e50;
    float: right;
}

/*-----------------------------------------------------------------------------*/
/*  INTERFACES ELEMENTS                                                        */
/*-----------------------------------------------------------------------------*/

input[type=text], .btn {
    padding: 8px;
}

input, select, .btn {
    border: none;
    outline: none !important;
    margin: 0;
    background: #e9ecee;
    font-size: 16px;
}

input:focus, textarea:focus {
    background: #f0f4f7
}

.menu{
  color: #fff;
  height: 36px;
  line-height: 50px;
  padding-left:15px;
  padding-right:15px;
  text-decoration:none;
}

.btn {
    background: #42a9ec;
    color: #fff;
    min-width: 150px;
    line-height: 36px;
    height: 36px;
    padding: 0 10px;
    cursor: pointer;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.btn:hover {
    box-shadow: inset 0 -36px 0 rgba(0, 0, 0, 0.1);
}

.btn:active {
    box-shadow: inset 0 -36px 0 rgba(0, 0, 0, 0.2);
}

input[type=text] {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.btn-small {
  text-decoration: none;
  min-width: initial;
}

/*INPUT TEXT*/
input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 #42a9ec;

}




.btn-small{
  float:right;
}

.search-div{
  width: 100%;
  margin-right:0;
}

.search-input{
    width: 96%;
}

.search-div > a{
  margin-left:10px;
  margin-right:0;
}



/*PLACHOLDER*/
.se-placeholder {
    position: relative;
    display: inline-block;
    width: 87%;
}

.se-placeholder input + span {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 10px;
    line-height: 36px;
    color: rgb(149, 149, 149);
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.se-placeholder input.empty + span {
    display: block;
}

.se-placeholder input:focus + span {
    display: block !important;
}

.se-placeholder input:focus + span {
    position: absolute;
    top: -10px;
    bottom: inherit;
    left: 0;
    line-height: 1;
    color: #42a9ec;
    font-size: 9px;
}

/*checkbox*/
.se-checkbox {
    display: inline-block;
}

.se-checkbox input {
    position: absolute;
    visibility: hidden;
}

.se-checkbox input + span {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #e9ecee;
    position: relative;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.se-checkbox input + span:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: black;
    opacity: 0.2;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.se-checkbox:hover input + span:before {
    opacity: 0.5;
}

.se-checkbox input:checked + span, .se-checkbox input.checked + span {
    background: #42a9ec;

}

.se-checkbox input:checked + span:before, .se-checkbox input.checked + span:before {
    opacity: 0.6;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
}

.se-checkbox input + span:after {
    content: '';
    position: absolute;
    height: 5px;
    width: 10px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 6px;
    left: 5px;
    opacity: 0;
}

.se-checkbox input:checked + span:after {
    opacity: 1;
    margin-right: 2em;
}

/*select*/
.se-select {
    width: 300px;
    position: relative;
    cursor: pointer;
    color: #585858;
    height: 36px;
    line-height: 36px;
    z-index: 1;
}

.se-select:after {
    content: '';
    position: absolute;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    top: 14px;
    right: 10px;
}

.se-select input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.se-select-title {
    width: 100%;
    display: block;
    background: #e9ecee;
    text-align: center;
}

.se-select input[type="radio"] + span {
    background: #e9ecee;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.se-select-objects {
    position: absolute;
    top: 0;
    padding-top: 36px;
    width: 100%;
    overflow: hidden;
    max-height: 0;
}

.se-select:hover .se-select-objects input[type="radio"] + span {
    position: relative;
    top: 0;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

.se-select:hover input[type="radio"] + span:hover {
    background: #BBB;
}

.se-select:hover input[type="radio"]:checked + span:hover {
    background: #42a9ec;
    color: #fff;
}

.se-select input[type="radio"]:checked + span {
    background: #42a9ec;
    color: #fff !important;
    position: absolute;
    top: 0em;
}

.se-select:hover .se-select-objects {
    max-height: 540px;
}

.icon-input-text {
    position: absolute;
    z-index: 2;
    right: 0;
    padding: 5px;
    color: #bdc3c7;
}



.grid-or-list {
    float: right;
}

.search-div-btn {
    border: none;
    outline: none !important;
    margin: 0;
    background: #e9ecee;
    font-size: 12px;
}

.search-div-btn {
    background: #FFFFFF;
    color: #111;
    min-width: 50px;
    line-height: 18px;
    height: 18px;
    padding: 0 10px;
    cursor: pointer;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
    border: solid #bdc3c7 1px;
}

.search-div-btn:hover {
    box-shadow: inset 0 -36px 0 rgba(0, 0, 0, 0.1);
}

.search-div-btn:active {
    box-shadow: inset 0 -36px 0 rgba(0, 0, 0, 0.2);
}

/*-----------------------------------------------------------------------------*/
/*  NAVIGATION                                                                 */
/*-----------------------------------------------------------------------------*/

section.main .nav-bar {
    order: 1;
    /*background-color: #FFFFFF;*/
    margin:0px;
    /*padding: 5px;*/
    color: #333;
    /*border: solid #bdc3c7 1px;*/
    min-width: 20%;
}

.nav-bar-title{
    background-color: #2c3e50;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    border: solid #bdc3c7 1px;
    padding:5px;
}
.nav-bar-title > p{
    margin-bottom:0px;
    margin-top:0px;
    font-size:20px;
    text-align: center;
    color:white;
}

.nav-bar-content{
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:5px;
    border: solid #bdc3c7 1px;
    padding:5px;
}

.top-contributor{
    background-color: #FFFFFF;
    order: 1;
    /*border: solid #bdc3c7 1px;*/
    /*margin-top: 2em;*/
    padding: 0.2em;
}

h3.title-top-contributor{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0.5em;
}

.content-top-contributor{
    margin: 0.7em;
}

.name-top-contributor{
    margin-left: 1em;
}

.value-top-contributor{
    margin-left: 1em;
    color:#FFFFFF;
    padding: 0.2em;
    background-color: #2c3e50;
    float: right;
}
/*-----------------------------------------------------------------------------*/
/*  CATEGORIES                                                                 */
/*-----------------------------------------------------------------------------*/

/*invisible chkbox*/
input[type=checkbox].categorie {
    position: absolute;
    /*top: -9999px;
    left: -9999px;*/
    opacity: 0;
}

label.categorie {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

div.categorie {
    color: #2c3e50;
    padding: 0.2em;
}

/* DVisible */
div.categorie-1, div.categorie-2 {
    max-height: 0px;
    margin-left:8px;
    /*TODO all browsers*/

    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transform: rotateX(90deg);
}

/* Hide */
input[type=checkbox].categorie-1:checked ~ div.categorie-1 {

    max-height: 100em;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transform: rotateX(0deg);
}

/* Hide */
input[type=checkbox].categorie-2:checked ~ div.categorie-2 {
    max-height: 100em;

    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    transform: rotateX(0deg);

}

input[type=checkbox].categorie + label:after {
    font-family: FontAwesome;
    content: "\f105";
}

input[type=checkbox].categorie:checked + label:after {
    font-family: FontAwesome;
    content: "\f107";
}

/*-----------------------------------------------------------------------------*/
/*  FACEBOOK CONNECT                                                           */
/*-----------------------------------------------------------------------------*/

.header-content {
    padding-right: 2em;

}

.fb-login-button {
    float: right;

}

.header-content > h1 {

}

.category-name {

}

.fb-login-button:hover{
    cursor: pointer;
}

.fb-login-button-small{
    display: none;
}

/*-----------------------------------------------------------------------------*/
/*  ALERT DIALOG                                                               */
/*-----------------------------------------------------------------------------*/

.alert-dialog {
    position: relative;
    display: block;
    padding: 1rem;
    margin: 1rem;
    background: #E4EAEE;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.5);
}
.alert-dialog.alert-dialog {
    padding-right: 2.5rem;
}
.alert-dialog .alert-dialog-close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    text-align: center;
    padding: 1rem;
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.2);
}
.alert-dialog .alert-dialog-close:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.warning{
    background:#FF9500;
}

.error{
    background:#FF2400;
}

.header-nav{
    overflow:auto;
}

.btn-user{
    float:right;
    padding-top:.5em;
}

.btn,
.button_to{
    display: inline-block;
}

.site-title a{
    font-size: 2.5em;
    overflow:auto;
    color:white;
    text-decoration:none;
}

.ui-datepicker {
    width: 100% !important;
    padding: 0;
}

/*---------------------------*/
/*  Fetching indicator       */
/*---------------------------*/

.not-done{
  background: red;
}

.underway{
  background: orange;
}

.done{
  background: green;
}

.fetching-flag{
  width: 20px;
  height: 20px;
  
  border-radius: 50%;
  display: flex;

}
.fetching-flag:before{
  content:'';
  width: 0;
  height: 0;
  margin:auto;
  border: 5px solid #DBD2D7;
  border-radius: 50%;
  -webkit-animation:fetching-flag-ani1 1s infinite;
}
@-webkit-keyframes fetching-flag-ani1{
  70%{
    width: 20px;
    height: 20px;
  }
  100%{
    width: 20px;
    height: 20px;
    border-width: 0;
  }
}

/*---------------------------*/
/*  Events show details      */
/*---------------------------*/

.show-information label {
  display: inline-block;
  min-width: 20%;
  font-weight: bold;
  margin-top: 10px;
}

.show-title .title-complement {
  float: right;
}

/*-----------------------------------------------------------------------------*/
/*  MEDIA QUERIES                                                              */
/*-----------------------------------------------------------------------------*/

@media only screen and (max-width : 320px) {
    html,body{
        background-color: green;
    }
}
@media only screen and (max-width : 960px) {
    .se-placeholder {
      position: relative;
      display: inline-block;
      width: 82%;
  }
}





/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .cat-queries-480{
        flex-grow: 1;
        margin-left: 0.2em;
    }
  

  
    .se-placeholder {
      position: relative;
      display: inline-block;
      width: 81%;
  }

    .fb-login-button-small{
        display: block;
    }

    .fb-login-button-large,
    .hide
    {
        display: none;
    }
  
      header {
      height: auto;
    }

    section.main {
        display: -webkit-block;
        display: -moz-block;
        display: -ms-block;
        display: -webkit-block;
        display: block;

        padding: 5px;
        background-color: #DBD2D7;
    }

    section.main .nav-bar {

        -webkit-flex-direction: row;
        flex-direction: row;
        justify-content:space-between;
        /*background-color: #FFFFFF;*/
        padding: 5px;
        color: #333;
        border: solid #bdc3c7 1px;
    }

    section.main .nav-bar ul {
        list-style: none;
    }

    section.main .left {

        background-color: #DBD2D7;
        padding-bottom: 5px;
        color: #333;
    }

    .top-contributor{
        float: right;
        margin-top: 0;
    }

    #datepicker{
        /*display:none;*/
    }

    .btn-user{
        float:none;
    }
}

@media only screen and (max-width : 570px) {

    .se-placeholder {
      position: relative;
      display: inline-block;
      width: 79%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


    .top-contributor,
    .title-top-contributor,
    .content-top-contributor,
    .name-top-contributor,
    .value-top-contributor{
        width:0;
        height: 0;
        opacity: 0;
    }

    .site-title{
        font-size: 1.5em;
    }

    .img-event,
    .image-cover-div{
        display:none;
    }

    .content-event{
        width:100%;
        float: none;
        max-height: 100%;
    }
    .se-placeholder {
      position: relative;
      display: inline-block;
      width: 68%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

